$logoColor: orange;
$activeLinkColor: yellow;
$textcolor: white;
$logoBGColor: transparent;

$iphoneLandscape: 322px;
$iphonePortrait: 480px;
$androidTablets: 600px;
$iPad: 768px;
$iPadLandscape: 1024px;
$desktop: 1320px;
